/* podstawowe komponenty */
body {
	margin:0 0 0 0; 
	padding:0; 
	font: normal normal normal 11px "Arial",sans-serif;
	background: #ffffff url("../images/background.png") repeat-x;
	color: #484848;
}
a img { border: none; }

.center { text-align: center; }
.clear { clear: both; }

.noBorder { border: none; }

p.spacetop { margin-top: 1em; }
p.clear {
	margin-bottom:-7px;
}
table.std { width:100%; }

a { text-decoration:none;}
a.button { float:left;
	text-align:center; text-decoration:none; color: black;
	background:no-repeat url(../images/button_bg1.gif) 0 0;
}
a.button span, .submit_buttonC input { float:left;
	padding:0 10px; /* ustawiajac padding nadajemy przyciskowi szerokosc */
	height:20px; line-height:20px; 
	background:transparent no-repeat url(../images/button_bg2.gif) 100% 0; 
	cursor:pointer;
}
a.bluen {
	cursor:pointer;
}
a.grey {
	cursor:pointer;
}
a.button.toRight, a.bluen.toRight , a.grey.toRight{ float:right; }
.button_area { height: 20px; }
.button_area.spacetop { margin-top:1em; }

.submit_buttonC { float: left; background:no-repeat url(../images/button_bg1.gif) 0 0; }
.submit_buttonC.toRight { float: right; }
/* ka?da przegl?darka formatuje nieco inaczej buttony */
.submit_buttonC input { border:0; padding:0; font-size:1em; } /* msie nie pozwoli ustawi? szeroko?ci przycisku */
.submit_buttonC input[type=submit] { padding:0 10px; font:inherit; } /* gecko/css2-able only */
input.no_see { width:0; height:0; border:none; }

.blue a.button { background-image: url(../images/button_bg1_on-blue.gif); }
.blue a.button span, .blue  .submit_buttonC input { background-image: url(../images/button_bg2_on-blue.gif); }
.blue .submit_buttonC { background-image:url(../images/button_bg1_on-blue.gif); }
.bluen {
	display: block;
	float: left;
	height: 28px;
	background: URL("../images/blue_background.png") no-repeat;
}
.bluen_anuluj {
	display: block;
	margin: 0 auto;
        width: 135px;
	height: 28px;
	background: URL("../images/blue_background.png") no-repeat;
}

.bluen_anuluj span{
	display: block;
	padding: 0px 12px 0px 28px;
	line-height: 28px;
	font-weight: bold;
	color: #ffffff;
	background: URL("../images/blue_background_right.png") no-repeat 100% 0;
}

a.bluen.clean {
	background:url("../images/blue_backgroundC.gif") no-repeat;
}

.grey {
	display: block;
	float: left;
	height: 28px;
	background: URL("../images/grey_background.png") no-repeat;
}
.grey_anuluj {
	display: block;
	margin: 0 auto;
        width: 135px;
	height: 28px;
	background: URL("../images/grey_background.png") no-repeat;
}

.grey_anuluj span{
	display: block;
	padding: 0px 12px 0px 28px;
	line-height: 28px;
	font-weight: bold;
	color: #ffffff;
	background: URL("../images/grey_background_right.png") no-repeat 100% 0;
}

a.grey.clean {
	background:url("../images/grey_backgroundC.gif") no-repeat;
}
.grey span{
	display: block;
	padding: 0px 12px 0px 28px;
	line-height: 28px;
	font-weight: bold;
	color: #ffffff;
	background: URL("../images/grey_background_right.png") no-repeat 100% 0;
}
.grey.clean span {
	background: URL("../images/grey_background_right.png") no-repeat 100% 0;
	padding:0 12px 0 12px;
}

#logout, #blueBack, #back{
	background: url("../images/blue_backgroundb.png") no-repeat;
}
.bluen span{
	display: block;
	padding: 0px 12px 0px 28px;
	line-height: 28px;
	font-weight: bold;
	color: #ffffff;
	background: URL("../images/blue_background_right.png") no-repeat 100% 0;
}
.bluen.clean span {
	background: URL("../images/blue_background_right.png") no-repeat 100% 0;
	padding:0 12px 0 12px;
}
.error { color: red; font-weight: bold; }
h1.cnter {
	text-align:center;
	font-size:17px;
}
h2.orange, h1.cnter{
	color: #ff7200;
	font-size:16px;
	font-family: "Arial",sans-serif;
}

.orangeText {
	color: #FF7200;
}

h2 { font-size: 16px; color: #007AC6; margin:0 0 4px 0; padding:0; }
h4 { font-size: 1em; color: #007AC6; }
h2.exclamation { background: no-repeat url(../images/exclamation.gif); padding-left: 20px; }
h2.checked { 
	line-height:30px; 
	font-family: "Arial",sans-serif;
	background: no-repeat url(../images/h2_checked.gif); 
	padding-left: 32px;
}

h2.spacetop, table.spacetop, .disc1.spacetop, .discl.spacetop, .clear.spacetop { margin-top:1em; }
h2.spacebottom, .clear.spacebottom, orangeLink.spacebottom { margin-bottom:14px; }

.blue h2 { color: black; }

.clear.disc1 {
	text-align:justify;
}

hr, .hr { height:2px; font-size:2px; margin:11px 0; background: repeat-x url(../images/hr.gif); }

ul.std_square { list-style:none; padding:0; margin:0 0 0 30px;}
ul.std_square li {  
	padding-left:34px;
	overflow: hidden;
	width: 174px;
	background: url("../images/ul_item.gif") no-repeat 3px 4px;
}
#top { 
	height:113px;
}
#top #logo { width:150px; height:50px; 
	/* odsuwamy logo od brzegu ekranu: */
/*	margin: 25px 0 0 35px; */
	position:absolute; top:25px; left: 35px; 
}
#top #partner_logoC { height: 100px; }
#top #partner_logoC table.t_partner_logo { float: right; height: 100px; margin-right: 1em; }

/* kontener dla wszystkiego ponizej naglowka */
#screen {margin: 0 auto; padding-bottom: 4em; width:820px; }

#screen #left { width:216px; float:left;}
#screen #contentArea { float:left; width:532px;}

/* formatowanie menu */
#left #menu { width:216px; 
	padding-left: 11px; _width:205px; /* msie blednie oblicza szerokosc menu */
	margin-bottom: 0;
	
}
#left #menu ul { list-style-type:none; padding:0; margin:0; }
#left #menu ul li { line-height: 2em; padding-left:15px; 
	background:no-repeat url("../images/orange_round.gif") 0px 4px;
	padding: 0px 0px 10px 24px;
	font-weight: bold;
	overflow:hidden;
}
#left #menu ul li.disable { line-height: 2em; padding-left:15px; 
	background:no-repeat url("../images/orange_round_dis.gif") 0px 4px;
	padding: 0px 0px 10px 24px;
	font-weight: bold;
	overflow:hidden;
}
#left #menu ul li a { 
	text-decoration:none; 
	color:#484848; 
	font-family: Tahoma, sans-serif;
}
#left #menu ul li.active a { font-weight:bold; color: #0079c2; }
#left #menu ul li.last { padding-top:4px; line-height:1em; }

#left #menu ul li.specialItem { }

#left #menu ul li form { margin:0; width:0; height:0;  display:none;}
#left #menu ul li form input { display:none; }

table th.last{
	width:1px;
}

/* stopka. Jej g?rna granica to pasek z brazowych kropek */
#footer {  
	height: 76px;
	width:auto;
	background-color: #fbfbfb; 
	clear:both; 
	/* odsuwamy cala zawartosc stopki w dol o 14px */ padding-top:14px; 
}
#footer a.infolinia { display:block; float:right;}
#footer .discl { padding-top: 3px; }

/*.infolinia_login img { margin:6px; }*/



/* standardowe kontenery */
.box_stdC, box_stdCn { border:1px solid #efefef; width:100%; position:relative; }
.box_std  { border:1px solid white; background-color: white; padding:12px;}
.box_stdregister { border:1px solid white; background-color: #F1F1F1; padding:10px; width:216px;}
.box_std_notow  { margin-left: auto; margin-right: auto; text-align: center; border:1px solid white; background-color: #F1F1F1; padding:10px; }

.box_stdCthintop { border-left:0px solid #efefef; border-right:0px solid #efefef; border-top:0px solid #efefef; width:503px; }
.box_stdCthinmiddle { border-left:0px solid #efefef; border-right:0px solid #efefef; width:503px;  }
.box_stdCthinbottom { border-left:0px solid #efefef; border-right:0px solid #efefef; border-bottom:0px solid #efefef; width:284px; }

.box_stdCthinbottom1 { border-left:0px solid #efefef; border-right:0px solid #efefef; border-bottom:0px solid #efefef; width:204px; position:relative;}
.box_stdCthinbottom2 { border-left:0px solid #efefef; border-right:0px solid #efefef; border-bottom:0px solid #efefef; width:98px; position:relative;}

.box_stdCn {
	border:0;
}
.box_stdC.blue { }
.box_stdC.blue .box_std { padding:8px;}

.t_box_stda { width:100%; border:1px solid #bebebe;}
.t_box_stda tr.r01a {
	color:#484848;
}
.t_box_stda tr.r01a th.dark, tr.r01 td.dark{
	background-color: #FAFAFA;
}
tr.r01 td.light{
	background-color: white;
}
.premium_table {margin-top:20px;}
.t_box_stda th.vline{
	border-left: 1px solid #CCD2D9;
}
.vline1{
	border-left: 1px solid #BEBEBE; 
}
.hline1{
	border-bottom: 1px solid #BEBEBE; 
}

/* standardowa tabelka - ozdobniki tylko gora */
.t_box_std { width:100%; border:1px solid #bebebe;}
.t_box_std td, .t_box_std th { padding: 4px 5px 7px 5px; text-align:left; }
.t_box_std td.number, .t_box_std th.number { text-align:right; }
.t_box_std td.left, .t_box_std th.left, .t_box_std li { padding: 0px; text-align:left; }
.t_box_std td.center, .t_box_std th.center { padding: 4px 5px 7px 5px; text-align:center; }
.t_box_std tr.sep td,.t_box_std tr.sep th { background-color:#acacac; border:none; 
	line-height:1px; font-size:1px; height:1px; padding:0;
}
.t_box_std tr.r02 a, .t_box_std tr.r01 a{
	color:#484848;
}
.t_box_std tr.r02 th.dark, tr.r02 td.dark{
	background-color:#ebeef0;
}

.t_box_std tr.r02 th.dark_blue, tr.r02 td.dark_blue{
	background-color:#C5DCEC;
    background-position: left center;
    height: 45px;
    vertical-align: middle;
}

.t_box_std tr.r02 th.light, tr.r02 td.light{
	background-color: #f5f5f5;
}
.t_box_std tr.r01 th.dark, tr.r01 td.dark, #screen.twojaPoczta .poczta td.date.dark, #screen.twojaPoczta .poczta tr.r01 td.dark{
	background-color: #FAFAFA;
}

#screen table .date{
	width: 100px;
	text-align: center;
}

.t_box_std tr.r01 th.light, tr.r01 td.light{
	background-color: white;
}
.t_box_std tr.higher { height:20px; }

.t_box_std td.vline{
	border-left: 1px solid #C9DCDB;
}

.t_box_std td.upper:first-letter {
	text-transform: uppercase;
}

.t_box_std th.vline{
	border-left: 1px solid #CCD2D9;
}
.t_box_std th.hline{
	border-bottom: 1px solid #acacac;
}

/* Zakladki nawigacyjne */
.box_stdC.navtabs { margin-top:40px; }

.navtabC { clear: both; position:absolute; top:-27px; left:-1px;  }

.navtabC .navtab { list-style:none; padding:0; margin:0; }
.navtabC .navtab li { list-style:none; float: left; margin-right:2px; 
	height:28px; line-height:29px; width:147px; 
	text-align:center; text-transform:uppercase; 
	
	/* background:no-repeat url(../images/tab_inactive.gif) 0 0;
	background: URL("../images/box_LT.gif") no-repeat; */
}

.navtabC .navtab li a { display:block; color:#484848; text-decoration:none; 
}

.navtabC .navtab li.active.first { background-image: url(../images/tab_active_first.gif); }
.navtabC .navtab li.active a { color: #007AC6; font-weight:bold; }


/* przypadki szczegolne*/
#left .box_stdC { width:214px; }

#contentArea .discl { margin-top:2em; color: #4B4B4B; padding-top:5px;}

#contentArea .twoje_polisy .c1 { width:105px; }
#contentArea .twoje_polisy .c3 { width:110px; }

#screen.logowanie { padding:0; margin-top:0; }
#screen.logowanie #left { margin-top: 40px; padding-top:3em; width:280px; 
	background: repeat-y url("../images/main_separator.gif") 100% 0;
}

#screen.logowanie #contentArea { 
	height:435px;  
	margin-bottom:0; 
	margin-top:0;
}
#screen.logowanie .box_logowania { position: relative; top:65px; left: 50px; }
#screen.logowanie .box_logowania .box_stdC { width: 264px; margin-top:1em; }
#screen.logowanie .box_logowania .box_std { overflow:auto; }
#screen.logowanie .box_logowania h2 { margin-top:15px; }
#screen.logowanie .box_logowania .box_stdC table.login { width:210px; }
#screen.logowanie .box_logowania .box_stdC table.login td { padding:5px; }
#screen.logowanie .box_logowania .box_stdC table.login td input.text { width:100%; }
#screen.logowanie .box_logowania .login {
	background-color:#f1f1f1;
}

#screen.logowanie .securedby { margin:1em 0; height:40px; 
	background: no-repeat url(../images/securedby.png) 10px 0; 
}
#screen.logowanie .securedby .cert_date { position:relative; top:24px; left: 144px; }


.funds { background-color: white; }
.funds .c1 { width:60%; }
.funds td, .funds th.c2 { text-align:center; }
.funds .c3 { text-align:center; width:12%; }
.funds td.c2 {color: #CCD2D9;}
.funds td.first { text-align:left; }
.funds select { width:100%; }
.funds input.hmm { width:20px; }
#screen .sep.dots { background:repeat-x url(../images/screen_border_bottom.gif);  
}

.funds_history { background-color: white; }
.funds_history .dark_sep { background-color: #E7E7E7; }
.funds_history .dark_sep h4 { margin:0; }

.funds_history .c1 { width:150px; }
.funds_history .c2 { width:120px; }
.funds_history .c4 { width:50px; }

.funds_history .number.c3 { padding-right:60px;  } /* funny msie bug ;-) Applies to th.c3 (because of other settings) */
.funds_history th.c3 { padding-right:0; }
.funds_history th.c4 { padding-left: 15px; }
.funds_history .kwotaminus { color: red; text-align:right; }
.funds_history .kwota { color: black; padding-right: 10px; }

#contentArea .datepicker label { margin-left: 1em; }
#contentArea .datepicker input.smallDate { width:70px; font-size:9px; line-height:12px; }
#contentArea .datepicker .dp_ico { }
#contentArea .datepicker .dp_ico img { position:relative; top:4px; }


#contentArea div.box_stdCn div.premium_table_info{padding-left: 2px;
padding-top: 5px;
text-align: justify;
width: 110%;}

#screen .stepsof { margin-top: 8px;
text-align: justify;}
#contentArea .orange_bullet_right { text-decoration:underline; padding-right:11px; 
	background: no-repeat url(../images/blue_arrow_right.gif) 100% 3px;
        color: #007AC6;
}
.premium_info_alfa_etw{padding-left: 3px;
						padding-top: 10px;
						text-align: justify;}

.premium_info_alfa_etw ol li ol.premium_info_alfa_etw_ol {counter-reset: licznik }					

.premium_info_alfa_etw ol li ol.premium_info_alfa_etw_ol li {list-style-type: decimal;list-style-position: inside;}
.premium_info_alfa_etw ol li ol.premium_info_alfa_etw_ol li{ display: block; padding-left:19px; text-align:justify; }
.premium_info_alfa_etw ol li ol.premium_info_alfa_etw_ol li:before { content: counter(licznik) ") "; counter-increment: licznik; margin-left:-18px;}


.premium_info_antybel ol li ol.premium_info_antybel_ol {counter-reset: licznik }

.premium_info_antybel{padding-left: 3px; padding-top: 10px; text-align: justify;}
.premium_info_antybel ol li ol.premium_info_antybel_ol li {list-style-type: lower-alpha;list-style-position: inside;}
.premium_info_antybel ol li ol.premium_info_antybel_ol li{ display: block; padding-left:19px; text-align:justify; }
.premium_info_antybel ol li ol.premium_info_antybel_ol li:before { content: counter(licznik) ") "; counter-increment: licznik; margin-left:-18px;}


.login.orange_arrow_right_with_bg {
            color: #484848;
            padding: 0px 17px 0px 0px;
            font: bold normal normal 11px Tahoma,sans-serif;
            text-decoration: underline;
            background: URL(../images/orange_round.gif) no-repeat 100% 50%;
}

.login_link_notunderlined {
            color: #007AC6;
            padding: 0px 0px 0px 0px;
            font: bold normal normal 11px Tahoma,sans-serif;
            /*background: URL(../images/orange_round.gif) no-repeat 100% 50%;*/
}

.login_link_notunderlined:hover {
			text-decoration: underline;
}

/* dodane 2006-02-22 */

/* ekran 6 */
#screen.twojaPoczta {}

#screen.twojaPoczta #sendMessageButton { xclear:both; height: 25px; } /* floated button makes a mess */
#screen.twojaPoczta #sendMessageButton form { display:none; }
#screen.twojaPoczta h2.spacetop { margin-bottom: 5px; }

#screen.twojaPoczta .poczta {}
#screen.twojaPoczta .poczta .c1 { width:100px; }
#screen.twojaPoczta .poczta .c3 { width:100px; }

#screen.twojaPoczta .poczta td.date { }

#screen.twojaPoczta .poczta tr.active td { font-weight:bold; }
#screen.twojaPoczta .poczta tr.r01 td { background-color: white; }
#screen.twojaPoczta .poczta tr.active td a.button { font-weight:normal; }
#screen.twojaPoczta .poczta .mtitle a { color:black; }

/* ekran 7 */
#screen.wplataSkladki {} 
#screen.wplataSkladki #contentArea .box_std.dark { background-color: #EFEEED; }

#screen.wplataSkladki .skladki th { text-align:center; }

/*msie doesn't understand 'dotted' */
/*for css3 */ #screen.wplataSkladki div[id=contentArea] .skladki .sepR { border-right: 1px dotted #aaa; }
/*for msie */ #screen .sepR { _background:repeat-y url(../images/vertical_kropki_gray.gif) 100% 0; _border-right:none; }
/*for msie */ #screen .sep .sepR { _background-color: #acacac; }

#screen.wplataSkladki .skladki .blue_th td { font-weight:bold; color: #007AC6; background-color:#E7E7E7; }
#screen.wplataSkladki .skladki .blue_th td.c1 {}
#screen.wplataSkladki .skladki .blue_th td.c2 {text-align:left;}
#screen.wplataSkladki .skladki .blue_th td.c3 {}
#screen.wplataSkladki .skladki .blue_th td.c4 {text-align:left;}
#screen.wplataSkladki .skladki .blue_th td.c5 {text-align:left;}

#screen.wplataSkladki .skladki .r01 td { background-color:white; }

#screen.wplataSkladki .skladki td.kwota { text-align:right; }
#screen.wplataSkladki .skladki td.fundusz {}
#screen.wplataSkladki .skladki td.cenaj { text-align:right; padding-right: 20px; }
#screen.wplataSkladki .skladki td.iloscj { text-align:right; padding-right: 10px;}
#screen.wplataSkladki .skladki td.summary { text-align:right; }

/*------------------------*/


#screen.logowanie .siteseal { margin:1em 0; height:40px; float: right; }
.siteseal { clear:both; }

#contentArea .choosesubaccount a { text-decoration:underline; padding-right:11px;}
 

#left #menu ul li.specialItem.email_read { /* background: no-repeat url(../images/mail_read.html) 0 5px; */
											 background: no-repeat url(../images/mail_read.gif) 0 5px;
}
#left #menu ul li.specialItem.email_new { background: no-repeat url(../images/mail_new.gif) 0 5px; }

#left #menu ul li.specialItem.email_unread { background: no-repeat url(../images/mail_unread.gif) 0 5px; }
#left #menu ul li.specialItem.innerItem { margin-left:15px; background: no-repeat url(../images/arrow1aSmall.gif) 0 5px;}

.zamknijlink { color: black; } 

a.buttonCentered {
        float: none;
	text-align:center; text-decoration:none; color: black;
	background:no-repeat url(../images/button_bg1.gif) 0 0;
}

a.buttonCentered span {
        float: none;
	padding:0 10px; /* ustawiajac padding nadajemy przyciskowi szerokosc */
	height:20px; line-height:20px; 
	background: transparent no-repeat url(../images/button_bg2.gif) 100% 0; 
	cursor:pointer;
}

.pointer-cursor {
    cursor: pointer;
}

.discl { margin-top:2em; color: #4B4B4B; }

.bluetxt { color: #007AC6; }

.changepasswordbox { width: 65% }
.activatewhobox { width: 30% }
.activatequestionsbox { width: 35% }

#screen.twojaPoczta .msgcontent { background-color: #FAFAFA;  }

#screen .lowerbuttons { margin: 2px 14px 5px 14px; }
#screen .lowerbutttons .lowBack, .clear.lowBack {
	margin-top:-20px;
}
.drag {
   position: absolute;
   width: 500px;
   border: 2px solid black;
   top: 170px;
   padding: 0px;
   background-color: #FFFFFF;
   left: 50%;
   margin-left: -250px;
}


#topopup { height: 40px;
/* dolna linia jest obrazkiem */ background: repeat-x url(../images/border_top.gif) 0 100%; 
/* kolor t?a dla obszaru g?rnego */ background-color: #F5F5F5; 
}
#topopup #logo1 { width:150px; height:40px;
	/* odsuwamy logo od brzegu ekranu: */
/*	margin: 25px 0 0 35px; */
	position:absolute; top:10px; left: 460px;
}
#logo{
	margin-left:180px;
}
#topopup #partner_logoC { height: 100px; }
#topopup #partner_logoC table.t_partner_logo { float: right; height: 100px; margin-right: 1em; }


.insideNew {background-color: #FFFFFF;
            border: 0px;
            padding: 0px;
            font-size: 14px;
            margin-top: 65px;}

a.buttonCEN {
        float: none;
	padding:0 10px; /* ustawiajac padding nadajemy przyciskowi szerokosc */
	height:20px; line-height:20px; 
	background: transparent no-repeat url(../images/button_bg2.gif) 100% 0; 
	cursor:pointer;
}
input.input_field[disabled]{background-color: lightgray; border-color: #111111; }


.TRrazem {
	font-weight: bold;
	font-size: 14px;
	color: #003651;
	text-align:center;
}
.alok6 .TRrazem, #hsl2 .TRrazem, .twojaPoczta .TRrazem {
	color:#484848;
}
/* edit: bz*/
#copyr
{
	position: relative;top: -8px;left: 0px;
	/*float:left;
	font-family:Tahoma,sans-serif;*/
}

#infolinia{
	/* float:right;
    padding-right: 70px; */
    position: relative;top: 8px;left: 664px;width:20%;margin:0;
}


#footer_cp{
	/*padding:0 170px 0 210px;*/
	width: 820px;
    margin: auto;
}

#footerh{
	padding-top:17px;
	clear:both;
}
input.text, .TRloginfield, input, textarea, checkbox {
	border: 1px solid #d2d2d2;
	padding: 3px 7px 4px 7px;
	font: normal normal normal 11px Tahoma,sans-serif;
	color: #666666;
        
}

input.noPadding {
	padding: 3px 0;
}

.haslo, .alok, .hist, .twojaPoczta, .trnsfer{
	padding-top:14px;
	padding-left:70px;	
}
#hsl.box_stdC{
	margin-top:31px;
}
#hsl2, .alok6{
	height:170px;
	padding-top:120px;
	margin:0 auto;
}
/* Boxy */
.box_LT {
	width: 100%;
	background: URL("../images/box_LT.gif") no-repeat;
}
.box_RT {
	background: URL("../images/box_RT.gif") no-repeat 100% 0;
}
.box_LB {
	background: URL("../images/box_LB.gif") no-repeat 0 100%;
}
.box_RB {
	background: URL("../images/box_RB.gif") no-repeat 100% 100%;
	padding: 22px 22px 5px 22px;
}
.box_LT_tab {
	width:100%;
	background: url("../images/tab_left.gif") no-repeat;
}
.box_RT_tab {
	background: url("../images/tab_right.gif")  no-repeat 100% 0;
}
.box_bord {
	border-bottom:1px solid #acacac;
}
.box_LT_active{
	top:1px;
	margin-top:1px;
}
/* */
select, .hmm {
	border: 1px solid #d2d2d2;
	font-family:Arial, sans-serif;
	color: #484848;
}
.bluenSep {
	margin-right:10px;
}

.krop1 {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

.krop {    
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.x{

    text-align: right;
    
    padding-bottom: 1px;
}

.multipin_pop{
   position: absolute;
   width: 300px;
   border: 2px solid black;
   top: 170px;
   padding: 0px;
   background-color: #FFFFFF;
   left: 50%;
   margin-left: -150px;
}

.multipin_pop_u{
   position: absolute;
   width: 500px;
   border: 2px solid black;
   top: 170px;
   padding: 0px;
   background-color: #FFFFFF;
   left: 50%;
   margin-left: -150px;
}

#topopupsmall { height: 40px;
/* dolna linia jest obrazkiem */ background: repeat-x url(../images/border_top.gif) 0 100%;
/* kolor t?a dla obszaru g?rnego */ background-color: #F5F5F5; 
}

#multipin_pop_topopupsmall #multipin_pop_logo1small { 
	width:100px; 
	height:40px;
	position:absolute; 
	top:10px; 
	left: 260px;
}

.multipin_button{ 
	padding: 10px;
}
.multipin_insideNew{
	background-color: #FFFFFF;
	border: 0px;
	padding: 0px;
	font-size: 14px;
}

.drag_mail {
   position: absolute;
   width: 300px;
   border: 2px solid black;
   top: 170px;
   padding: 0px;
   background-color: #FFFFFF;
   left: 50%;
   margin-left: -150px;
}

#topopupsmall { height: 40px;
/* dolna linia jest obrazkiem */ background: repeat-x url(../images/border_top.gif) 0 100%;
/* kolor t?a dla obszaru g?rnego */ background-color: #F5F5F5;
}
#topopupsmall #logo1small { width:100px; height:40px;
	/* odsuwamy logo od brzegu ekranu: */
/*	margin: 25px 0 0 35px; */
	position:absolute; top:10px; left: 260px;
}

#topopupsmall #logo2small { 
	width:100px; 
	height:40px;
	position:absolute; 
	top:10px; 
	left: 460px;
}

#overlay {
	display: none;
}

#overlay div {
    z-index: 1040;
    position : fixed;top: 0;right: 0;bottom: 0;left: 0;
    opacity : .50 !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50) !important;
    -moz-opacity: 0.5;  
    -khtml-opacity: 0.5;
    
    /*background:url(../images/spinner2.gif) no-repeat center;*/
    background-color: black;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

.razem_alloc{
	height: 28px;
	border-bottom: 1px solid #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.razem1{
	position: relative;
	left: 340px;
	top: 6px;
}
.razem2{
	position: relative;
	left: 355px;
	top: 6px;
}
div.fiz_komunikat{
	text-align: center;
	padding-left: 66px;
	padding-right: 66px;
}

div.fiz_blue{
	color: #007AC6;	
}

a.anulujPrzesuns{
	position: relative;
	bottom: 4px;
	left: 188px;
}

.bluenButton{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b8fcb), color-stop(1, #81c5f2));
	background:-moz-linear-gradient(top, #3b8fcb 5%, #81c5f2 100%);
	background:-webkit-linear-gradient(top, #3b8fcb 5%, #81c5f2 100%);
	background:-o-linear-gradient(top, #3b8fcb 5%, #81c5f2 100%);
	background:-ms-linear-gradient(top, #3b8fcb 5%, #81c5f2 100%);
	background:linear-gradient(to bottom, #3b8fcb 5%, #81c5f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b8fcb', endColorstr='#81c5f2',GradientType=0);
	background-color:#3b8fcb;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #85c6f4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	float: none;
}

.grey{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CECECE), color-stop(1, #737373));
    background: -moz-linear-gradient(top, #737373 5%, #CECECE 100%);
    background: -webkit-linear-gradient(top, #737373 5%, #CECECE 100%);
    background: -o-linear-gradient(top, #737373 5%, #CECECE 100%);
    background: -ms-linear-gradient(top, #737373 5%, #CECECE 100%);
    background: linear-gradient(to bottom, #737373 5%, #CECECE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#CECECE',GradientType=0);
    background-color: #CECECE;
    border: 1px solid #CECECE;
}

.small{
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 20px;
	text-decoration:none;
}


<!-- cas login page -->
#contentContainer{
	width: 781px;
}

#contentLeftPanel{
	float: left;
    background-color: white;
    display: inline-block;
    width: 249px;
    height: 435px;
}

.errorContainer{
	background-color: white;
    opacity: .85;
    font-weight: bolder;
    font-size: small;
    position: absolute;
    /*width: 410px;*/
}